@page
@model Reviefy.API.Pages.ContactUs

@{
    ViewData["Title"] = "Contact us";
    Layout = "Shared/_Layout";
}

<body>
<!-- =============== START OF WRAPPER =============== -->
<div class="wrapper">
        
    <!-- =============== START OF PAGE HEADER =============== -->
    <section class="page-header overlay-gradient"
             style="background: url(https://www.baseoutsourcing.com/wp-content/uploads/2020/05/contactusheader.jpg)">
        <div class="container">
            <div class="inner">
                <h2 class="title">Contact Us</h2>
            </div>
        </div>
    </section>
    <!-- =============== END OF PAGE HEADER =============== -->


    <!-- =============== START OF MAIN =============== -->
    <main class="contact-page ptb100">
        <div class="container">
            <div class="row">


                <!-- Start of Contact Details -->
                <div class="col-md-4 col-sm-12">
                    <h3 class="title">Info</h3>

                    <div class="details-wrapper">
                        <p>Have questions or want to send a complaint? You can call and write to us. We will
                            definitely contact you.</p>


                        <ul class="contact-details">
                            <li>
                                <i class="icon-phone"></i>
                                <strong>Phone:</strong>
                                <span>8 (800) 555-35-35 </span>
                            </li>
                            <li>
                                <i class="icon-globe"></i>
                                <strong>Email:</strong>
                                <span><a href="mailto:support@reviefy.com">support@reviefy.com</a></span>
                            </li>
                            <li>
                                <i class="icon-social-vkontakte"></i>
                                <strong>VK:</strong>
                                <span><a href="https://vk.com/id0">Write now</a></span>
                            </li>
                            <li>
                                <i class="icon-paper-plane"></i>
                                <strong>Telegram:</strong>
                                <span><a href="https://web.telegram.org/k/">Write now</a></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Start of Contact Details -->


                <!-- Start of Contact Form -->
                <div class="col-md-8">
                    <h3 class="title">Contact Form</h3>

                    <!-- Start of Contact Form -->
                    <form id="contact-form" method="post">

                        <!-- contact result -->
                        <div id="contact-result"></div>
                        <!-- end of contact result -->

                        <!-- Form Group -->
                        <div class="form-group">
                            <input class="form-control input-box" type="text" name="name" placeholder="Your Name"
                                   autocomplete="off" asp-page-handler="OnPostSendMessage">
                        </div>

                        <!-- Form Group -->
                        <div class="form-group">
                            <input class="form-control input-box" type="email" name="email"
                                   placeholder="example@example.com" autocomplete="off" asp-page-handler="OnPostSendMessage">
                        </div>


                        <!-- Form Group -->
                        <div class="form-group">
                            <input class="form-control input-box" type="text" name="subject" placeholder="Subject"
                                   autocomplete="off" asp-page-handler="OnPostSendMessage">
                        </div>

                        <!-- Form Group -->
                        <div class="form-group mb20">
                            <textarea class="form-control textarea-box" rows="8" name="message" asp-page-handler="OnPostSendMessage"
                                    placeholder="Type your message..."></textarea>
                        </div>

                        <!-- Form Group -->
                        <div class="form-group text-center">
                            <button class="btn btn-main btn-effect" type="submit" asp-page-handler="OnPostSendMessage">Send message</button>
                        </div>
                    </form>
                    <!-- End of Contact Form -->
                </div>
                <!-- Start of Contact Form -->

            </div>
        </div>
    </main>
    <!-- =============== END OF MAIN =============== -->
    
</div>
<!-- =============== END OF WRAPPER =============== -->


<!-- =============== START OF GENERAL SEARCH WRAPPER =============== -->
<div class="general-search-wrapper">
    <form class="general-search" role="search" method="get" action="#">
        <input type="text" placeholder="What you searching for...">
        <span id="general-search-close" class="ti-close toggle-search"></span>
    </form>
</div>
<!-- =============== END OF GENERAL SEARCH WRAPPER =============== -->


<!-- ===== Start of Back to Top Button ===== -->
<div id="backtotop">
    <a href="#"></a>
</div>
<!-- ===== End of Back to Top Button ===== -->

</body>