@page
@model Reviefy.API.Pages.NotFound

@{
    ViewData["Title"] = "404";
    Layout = "Shared/_Layout";
}

<body>

<!-- =============== START OF WRAPPER =============== -->
<div class="wrapper">
    
    <!-- =============== START OF PAGE HEADER =============== -->
    <section class="page-header overlay-gradient" style="background: url(https://onlinezebra.com/wp-content/uploads/2019/01/error-404-not-found.jpg);">
        <div class="container">
            <div class="inner">
                <h2 class="title">404 Page</h2>
            </div>
        </div>
    </section>
    <!-- =============== END OF PAGE HEADER =============== -->
    
    <!-- =============== START OF MAIN =============== -->
    <main class="page-not-found ptb100">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <h2>404</h2>
                    <h3>Page Not Found!</h3>

                    <p>We're sorry, but the page you were looking for doesn't exist.</p>

                    <!-- ===== START OF SEARCH FORM ===== -->
                    <form id="search-form-1">
                        <div class="row justify-content-center">
                            <div class="col-md-8 col-sm-10 col-12">
                                <div class="form-group">
                                    <input name="search-keyword" type="text" id="search-keyword" value=""
                                           class="form-control" placeholder="Enter Movies or Series Title"
                                           autocomplete="off">
                                    <button type="submit" class="btn btn-main btn-effect">
                                        <i
                                            class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- ===== END OF SEARCH FORM ===== -->

                </div>
            </div>
        </div>
    </main>
    <!-- =============== END OF MAIN =============== -->

</div>
<!-- =============== END OF WRAPPER =============== -->



<!-- =============== START OF GENERAL SEARCH WRAPPER =============== -->
<div class="general-search-wrapper">
    <form class="general-search" role="search" method="get" action="#">
        <input type="text" placeholder="Type and hit enter...">
        <span id="general-search-close" class="ti-close toggle-search"></span>
    </form>
</div>
<!-- =============== END OF GENERAL SEARCH WRAPPER =============== -->



<!-- ===== Start of Back to Top Button ===== -->
<div id="backtotop">
    <a href="#"></a>
</div>
<!-- ===== End of Back to Top Button ===== -->

</body>