@model User

@{
    ViewBag.Title = "User Profile";
    Layout = "_Layout";
}

<body>
<!-- =============== START OF WRAPPER =============== -->
<div class="wrapper">
    
    <!-- =============== START OF MAIN =============== -->
    <main class="contact-page ptb100">
        <div class="container">
            <div class="row">
                
                <!-- Start of Avatar Form -->
                <div class="col-md-3" style="margin-left: 30%">
                    <div style="margin-top: 40px;">
                        <div class="movie-poster">
                            <img src="~/images/user.png"
                                 alt="" width="200">
                        </div>
                    </div>
                </div>
                <!-- End of Avatar Form -->
                
                <div>
                    <h2>Username</h2>
                    
                    <h6>Registration date: 2021-12-01</h6>
                    <h6>Reviews count: 12</h6>
                </div>

            </div>
        </div>
    </main>
    <!-- =============== END OF MAIN =============== -->
    
</div>
<!-- =============== END OF WRAPPER =============== -->


</body>