@model Reviefy.Models.News

@{
    ViewBag.Title = @Model?.Title;
    Layout = "_Layout";
}

<body>
    <!-- =============== START OF WRAPPER =============== -->
<div class="wrapper">
    
    <!-- =============== START OF PAGE HEADER =============== -->
    <section class="page-header overlay-gradient"
             style="background: url(https://ak.picdn.net/shutterstock/videos/1055155340/thumb/1.jpg)">
        <div class="container">
            <div class="inner">
                <h2 class="title">@Model?.Title</h2>
            </div>
        </div>
    </section>
    <!-- =============== END OF PAGE HEADER =============== -->

    <!-- =============== START OF MAIN =============== -->
    <main class="blog-detail ptb100">
        <div class="container">

            <!-- Start of Row -->
            <div class="row justify-content-center">
                <div class="col-md-8 col-sm-12">

                    <!-- Start of Blog Post -->
                    <article class="blog-post-detail">
                        
                            
                        <!-- Image -->
                        <div class="blog-thumb">
                            <img src="@Model?.PosterPath" alt="">
                        </div>

                        <!-- Content -->
                        <div class="post-content">
                            <h3 class="title">
                                <a asp-controller="News" asp-action="Index" asp-route-id="@Model?.NewsId">
                                    @Model?.Title
                                </a>
                            </h3>
                            
                            <ul class="post-meta">
                                <li>@Model?.NewsDate.ToString("d")</li>
                            </ul>

                            <p>
                                @Html.Raw(Model?.Text)
                            </p>

                            <!-- Start of Social Buttons -->
                            <div class="mt30">
                                <ul class="social-btns">
                                    <!-- Social Media -->
                                    <li>
                                        <a href="#" class="social-btn-roll facebook">
                                            <div class="social-btn-roll-icons">
                                                <i class="social-btn-roll-icon fa fa-facebook"></i>
                                                <i class="social-btn-roll-icon fa fa-facebook"></i>
                                            </div>
                                        </a>
                                    </li>

                                    <!-- Social Media -->
                                    <li>
                                        <a href="#" class="social-btn-roll twitter">
                                            <div class="social-btn-roll-icons">
                                                <i class="social-btn-roll-icon fa fa-twitter"></i>
                                                <i class="social-btn-roll-icon fa fa-twitter"></i>
                                            </div>
                                        </a>
                                    </li>

                                    <!-- Social Media -->
                                    <li>
                                        <a href="#" class="social-btn-roll instagram">
                                            <div class="social-btn-roll-icons">
                                                <i class="social-btn-roll-icon fa fa-instagram"></i>
                                                <i class="social-btn-roll-icon fa fa-instagram"></i>
                                            </div>
                                        </a>
                                    </li>

                                    <!-- Social Media -->
                                    <li>
                                        <a href="https://vk.com/id0" class="social-btn-roll vk">
                                            <div class="social-btn-roll-icons">
                                                <i class="social-btn-roll-icon fa fa-vk"></i>
                                                <i class="social-btn-roll-icon fa fa-vk"></i>
                                            </div>
                                        </a>
                                    </li>

                                    <!-- Social Media -->
                                    <li>
                                        <a href="https://web.telegram.org" class="social-btn-roll telegram">
                                            <div class="social-btn-roll-icons">
                                                <i class="social-btn-roll-icon fa fa-telegram"></i>
                                                <i class="social-btn-roll-icon fa fa-telegram"></i>
                                            </div>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                            <!-- End of Social Buttons -->
                        </div>
                    
                            
                    </article>
                    <!-- End of Blog Post -->
                        
                        
                </div>
            </div>
            <!-- End of Row -->

        </div>
    </main>
    <!-- =============== END OF MAIN =============== -->
</div>
    <!-- =============== END OF WRAPPER =============== -->


    <!-- =============== START OF GENERAL SEARCH WRAPPER =============== -->
    <div class="general-search-wrapper">
        <form class="general-search" role="search" method="get" action="#">
            <input type="text" placeholder="Type and hit enter...">
            <span id="general-search-close" class="ti-close toggle-search"></span>
        </form>
    </div>
    <!-- =============== END OF GENERAL SEARCH WRAPPER =============== -->


    <!-- ===== Start of Back to Top Button ===== -->
    <div id="backtotop">
        <a href="#"></a>
    </div>
    <!-- ===== End of Back to Top Button ===== -->

</body>
