@{
    ViewBag.Title = "About Us";
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">

<head>
    @await Html.PartialAsync("MetatagsPartial")
    @await Html.PartialAsync("CssPartial")
</head>

<body>

<!-- =============== START OF WRAPPER =============== -->
<div class="wrapper">
    <main class="coming-soon" style="background-image: url(https://i.pinimg.com/originals/20/ae/f2/20aef23d39a8dcb74bf663ed89ab08d6.gif)">
        <!-- =============== START OF TESTIMONIALS =============== -->
        <section style="padding: 25% 0">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <img src="~/images/reviefy-logo.svg" width="200" alt="logo">
                        <h3>What our team says?</h3>

                        <!-- Start of Testimonial Slider -->
                        <div class="owl-carousel testimonial-slider">

                            <!-- === Start of Sliding Item 1 === -->
                            <div class="item">
                                <div class="testimonial-content">
                                    <img src="~/images/admin.jpg" alt="">
                                    <div class="testimonial-comment">
                                        <h4>Focus</h4>
                                        <span class="testimonial-info">PE, Reviefy</span>
                                        <p>I have built a strong team around me. Together with them, we will create
                                            a
                                            gorgeous popular website!</p>
                                    </div>
                                </div>
                            </div>
                            <!-- === End of Sliding Item 1 === -->

                            <!-- === Start of Sliding Item 2 === -->
                            <div class="item">
                                <div class="testimonial-content">
                                    <img src="~/images/admin.jpg" alt="">
                                    <div class="testimonial-comment">
                                        <h4>Focus</h4>
                                        <span class="testimonial-info">FRONT DEV, Reviefy</span>
                                        <p>It was not easy, but I was able to single-handedly create a beautiful
                                            design
                                            for this great site.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- === End of Sliding Item 2 === -->


                            <!-- === Start of Sliding Item 3 === -->
                            <div class="item">
                                <div class="testimonial-content">
                                    <img src="~/images/admin.jpg" alt="">
                                    <div class="testimonial-comment">
                                        <h4>Focus</h4>
                                        <span class="testimonial-info">BACK DEV, Reviefy</span>
                                        <p>We have a friendly team, we understand each other perfectly. Even such a
                                            feeling that we are all one person. I was able to make a responsive
                                            database
                                            for the site, and also used the latest technology to link the site to
                                            the
                                            database.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- === End of Sliding Item 3 === -->

                        </div>
                        <!-- End of Testimonial Slider -->

                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- =============== END OF TESTIMONIALS =============== -->


</div>
<!-- =============== END OF WRAPPER =============== -->

@await Html.PartialAsync("ScriptsPartial")

</body>
</html>