@{
    ViewBag.Title = "Authorization";
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">

<head>
    @await Html.PartialAsync("MetatagsPartial")
    @await Html.PartialAsync("CssPartial")
</head>


<body>

    <!-- =============== START OF WRAPPER =============== -->
    <div class="wrapper">
        <main class="login-register-page" style="background-image: url(https://img.freepik.com/free-photo/top-view-laptop-with-notebook-magnifying-glass_23-2148578061.jpg)">

            <div class="container">

                <!-- =============== START OF LOGIN & REGISTER POPUP =============== -->
                <div class="small-dialog login-register">

                    <!-- ===== Start of Signin wrapper ===== -->
                    <div class="signin-wrapper">
                        <div class="small-dialog-headline">
                            <h4 class="text-center">Sign in</h4>
                        </div>

                        <div class="small-dialog-content">

                            <!-- Start of Login form -->
                            <form id="cariera_login" method="post">

                                <div class="form-group">
                                    <label for="email">Email *</label>
                                    <input type="email" class="form-control" id="email" name="loginEmail" required
                                        placeholder="Your Email *" />
                                </div>

                                <div class="form-group">
                                    <label for="password">Password *</label>
                                    <input type="password" class="form-control" id="password" name="loginPassword" required
                                        placeholder="Your Password *" />
                                </div>

                                <div class="form-group">
                                    <div class="checkbox pad-bottom-10">
                                        <input id="check1" type="checkbox" name="remember" value="yes">
                                        <label for="check1">Keep me signed in</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <input type="submit" value="Sign in" class="btn btn-main btn-effect nomargin" />
                                </div>
                            </form>
                            <!-- End of Login form -->

                            <div class="bottom-links">
                                <span>
                                    Not a member?
                                    <a class="signUpClick">Sign up</a>
                                </span>
                                <a class="forgetPasswordClick pull-right">Forgot Password</a>
                            </div>
                        </div>

                    </div>
                    <!-- ===== End of Signin wrapper ===== -->



                    <!-- ===== Start of Signup wrapper ===== -->
                    <div class="signup-wrapper">
                        <div class="small-dialog-headline">
                            <h4 class="text-center">Sign Up</h4>
                        </div>

                        <div class="small-dialog-content">

                            <!-- Start of Registration form -->
                            <form id="cariera_registration" action="#" method="POST">

                                <div class="form-group">
                                    <label for="nickname">Nickname *</label>
                                    <input name="nickname" id="nickname" class="form-control" type="text" required />
                                </div>

                                <div class="form-group">
                                    <label for="email">Email *</label>
                                    <input name="email" id="email" class="form-control" type="email" required/>
                                </div>

                                <div class="form-group">
                                    <label for="password">Password *</label>
                                    <input name="password" id="password" class="form-control"
                                        type="password" />
                                </div>

                                <div class="form-group">
                                    <input type="submit" class="btn btn-main btn-effect nomargin" value="Register" required/>
                                </div>
                            </form>
                            <!-- End of Registration form -->

                            <div class="bottom-links">
                                <span>
                                    Already have an account?
                                    <a class="signInClick">Sign in</a>
                                </span>

                                <a class="forgetPasswordClick pull-right">Forgot Password</a>
                            </div>

                        </div>
                        <!-- .small-dialog-content -->

                    </div>
                    <!-- ===== End of Signup wrapper ===== -->



                    <!-- ===== Start of Forget Password wrapper ===== -->
                    <div class="forgetpassword-wrapper">
                        <div class="small-dialog-headline">
                            <h4 class="text-center">Forgotten Password</h4>
                        </div>

                        <div class="small-dialog-content">

                            <!-- Start of Forger Password form -->
                            <form id="forget_pass_form" action="#" method="post">

                                <div class="form-group">
                                    <label for="password">Email Address *</label>
                                    <input type="email" name="user_login" class="form-control" id="email3" required
                                        placeholder="Email Address *" />
                                </div>

                                <div class="form-group">
                                    <input type="submit" name="submit" value="Get New Password"
                                        class="btn btn-main btn-effect nomargin" />
                                </div>
                            </form>
                            <!-- End of Forger Password form -->

                            <div class="bottom-links">
                                <a class="cancelClick">Cancel</a>
                            </div>

                        </div>
                        <!-- .small-dialog-content -->

                    </div>
                    <!-- ===== End of Forget Password wrapper ===== -->

                </div>
                <!-- =============== END OF LOGIN & REGISTER POPUP =============== -->

                <a asp-controller="Home" asp-action="Index" class="text-white">Back to Home</a>

            </div>
        </main>
    </div>
    <!-- =============== END OF WRAPPER =============== -->

@await Html.PartialAsync("ScriptsPartial")

</body>

</html>