@{
    ViewData["Title"] = "Legal disclaimer";
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">

    <!-- ===== Meta Tags - Description for Search Engine purposes ===== -->
    <meta name="description" content="Reviefy - Reviews of Films & Series">
    <meta name="keywords" content="movies, series, reviefy, review, critique">
    <meta name="author" content="Focus">

    <title>@ViewData["Title"] - Reviews of Films & Series</title>

    <!-- ===== Favicon & Different size apple touch icons ===== -->
    <link rel="shortcut icon" href="~/images/favicon.png" type="image/x-icon">

    <!-- ===== Google Fonts ===== -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">

    <!-- ===== CSS links ===== -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/revolution/css/settings.css">
    <link rel="stylesheet" type="text/css" href="~/revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="~/revolution/css/navigation.css">
    <link rel="stylesheet" type="text/css" href="~/css/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="~/css/jquery.mmenu.css">
    <link rel="stylesheet" type="text/css" href="~/css/owl.carousel.min.css">

    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/css/responsive.css">

</head>

<body>
    <!-- =============== START OF WRAPPER =============== -->
    <div class="wrapper">

        <header class="header">
            <div class="container-fluid">

                <nav class="navbar navbar-expand-lg row justify-content-center">
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index" >
                        <img src="~/images/reviefy-logo.svg" alt="Reviefy" width="150" class="logo">
                    </a>
                </nav>

            </div>
        </header>

        <div class="container">

            <h3 class="title row justify-content-center pt10">
                LEGAL DISCLAIMER
            </h3>

            <h5 class="title row justify-content-center">Legal Notice</h5>
            <p class="privacy-cookies">Reviefy is a limited liability partnership that practices law under the name
                Reviefy. Reviefy is a
                registered tradename of Reviefy in jurisdictions in which we practice.
            </p>

            <h5 class="title row justify-content-center">Copyright Notice</h5>
            <p class="privacy-cookies">All copyrightable text and graphics, the selection, arrangement, and presentation
                of all materials (including
                information in the public domain), and the overall design of this web page are ©2021 Reviefy. All rights
                reserved.
                Permission is granted to download and print materials from this website for the purpose of viewing,
                reading, and
                retaining for reference. Any other copying, distribution, retransmission, or modification of information
                or materials on
                this site, whether in electronic or hard copy form, without the express prior written permission of
                Reviefy, is
                strictly prohibited.
            </p>

            <h5 class="title row justify-content-center">Policy Concerning Infringement Claims and Repeat Infringers
            </h5>
            <p class="privacy-cookies">Reviefy will process and investigate proper notices of alleged copyright or other
                intellectual property
                infringement related to material on its websites or servers and will respond appropriately, following
                the guidelines of
                the Online Copyright Infringement Liability Limitation Act and other applicable intellectual property
                laws. Under
                appropriate circumstances, Reviefy will act expeditiously to remove or disable access to the material
                that is
                claimed to be infringing or claimed to be the subject of infringing activity. Reviefy will, following
                appropriate
                investigation, terminate or disable access by repeat infringers. Claims of alleged copyright or other
                intellectual
                property infringement must be in writing and directed to Reviefy's designated agent. Contact information
                is
                available by referencing Reviefy's Interim Designation of Agent to Receive Notification of Claimed
                Infringement.
            </p>

            <h5 class="title row justify-content-center">Disclaimer</h5>
            <p class="privacy-cookies">The materials available at this web site are for informational purposes only and
                not for the purpose of providing legal
                advice. You should contact your attorney to obtain advice with respect to any particular issue or
                problem. Use of and
                access to this Web site or any of the e-mail links contained within the site do not create an
                attorney-client
                relationship between Reviefy and the user or browser. The opinions expressed at or through this site are
                the
                opinions of the individual author and may not reflect the opinions of the firm or any individual
                attorney.
            </p>

            <h5 class="title row justify-content-center">Advertising Statement</h5>
            <p class="privacy-cookies">Portions of this website may contain Attorney Advertising under the rules of some
                states. Prior results do not guarantee
                a similar outcome.
            </p>

            <h5 class="title row justify-content-center">Contact Us</h5>
            <p class="privacy-cookies">Questions, comments and requests regarding this privacy policy are welcomed
                and should be
                addressed to:</p>
            <p class="privacy-cookies">Reviefy Technologies<br>525 University Avenue, Suite 31<br>Legal
                Department<br>8(800)
                555-35-35<br><a href="mailto:support@reviefy.com" target="_blank"
                    rel="noopener noreferrer">support@reviefy.com</a></p>
        </div>
    </div>
</body>