@{
    ViewData["Title"] = "Latest movies";
    Layout = "_Layout";
}

<body>

    <!-- =============== START OF WRAPPER =============== -->
    <div class="wrapper">
    
    <!-- =============== START OF PAGE HEADER =============== -->
        <section class="page-header overlay-gradient"
            style="background: url(https://i.imgur.com/s0Q4zuT.jpg)">
            <div class="container">
                <div class="inner">
                    <h2 class="title">Latest Movies</h2>
                </div>
            </div>
        </section>
        <!-- =============== END OF PAGE HEADER =============== -->
    

        <!-- =============== START OF MAIN =============== -->
        <main class="ptb100">
            <div class="container">

                <!-- Start of Movie List -->
                <div class="row">

                    <!-- Movie List Item -->
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="movie-box-1 mb30">

                            <!-- Start of Poster -->
                            <div class="poster">
                                <img src="~/images/posters/poster-1.jpg" alt="">
                            </div>
                            <!-- End of Poster -->

                            <!-- Start of Buttons -->
                            <div class="buttons">
                                <a href="https://www.youtube.com/watch?v=Q0CbN8sfihY" class="play-video">
                                    <i class="fa fa-play"></i>
                                </a>
                            </div>
                            <!-- End of Buttons -->

                            <!-- Start of Movie Details -->
                            <div class="movie-details">
                                <h4 class="movie-title">
                                    <a asp-controller="Home" asp-action="MovieDetail">Star Wars</a>
                                </h4>
                                <span class="released">14 Dec 2017</span>
                            </div>
                            <!-- End of Movie Details -->

                            <!-- Start of Rating -->
                            <div class="stars">
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <span>7.5 / 10</span>
                            </div>
                            <!-- End of Rating -->

                        </div>
                    </div>

                    <!-- Movie List Item -->
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="movie-box-1 mb30">

                            <!-- Start of Poster -->
                            <div class="poster">
                                <img src="~/images/posters/poster-2.jpg" alt="">
                            </div>
                            <!-- End of Poster -->

                            <!-- Start of Buttons -->
                            <div class="buttons">
                                <a href="https://www.youtube.com/watch?v=Q0CbN8sfihY" class="play-video">
                                    <i class="fa fa-play"></i>
                                </a>
                            </div>
                            <!-- End of Buttons -->

                            <!-- Start of Movie Details -->
                            <div class="movie-details">
                                <h4 class="movie-title">
                                    <a asp-controller="Home" asp-action="MovieDetail">The Brain</a>
                                </h4>
                                <span class="released">20 Dec 2017</span>
                            </div>
                            <!-- End of Movie Details -->

                            <!-- Start of Rating -->
                            <div class="stars">
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <span>7.2 / 10</span>
                            </div>
                            <!-- End of Rating -->

                        </div>
                    </div>

                    <!-- Movie List Item -->
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="movie-box-1 mb30">

                            <!-- Start of Poster -->
                            <div class="poster">
                                <img src="~/images/posters/poster-3.jpg" alt="">
                            </div>
                            <!-- End of Poster -->

                            <!-- Start of Buttons -->
                            <div class="buttons">
                                <a href="https://www.youtube.com/watch?v=Q0CbN8sfihY" class="play-video">
                                    <i class="fa fa-play"></i>
                                </a>
                            </div>
                            <!-- End of Buttons -->

                            <!-- Start of Movie Details -->
                            <div class="movie-details">
                                <h4 class="movie-title">
                                    <a asp-controller="Home" asp-action="MovieDetail">The Mummy</a>
                                </h4>
                                <span class="released">9 Jun 2017</span>
                            </div>
                            <!-- End of Movie Details -->

                            <!-- Start of Rating -->
                            <div class="stars">
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <span>5.5 / 10</span>
                            </div>
                            <!-- End of Rating -->

                        </div>
                    </div>

                    <!-- Movie List Item -->
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="movie-box-1 mb30">

                            <!-- Start of Poster -->
                            <div class="poster">
                                <img src="~/images/posters/poster-5.jpg" alt="">
                            </div>
                            <!-- End of Poster -->

                            <!-- Start of Buttons -->
                            <div class="buttons">
                                <a href="https://www.youtube.com/watch?v=Q0CbN8sfihY" class="play-video">
                                    <i class="fa fa-play"></i>
                                </a>
                            </div>
                            <!-- End of Buttons -->

                            <!-- Start of Movie Details -->
                            <div class="movie-details">
                                <h4 class="movie-title">
                                    <a asp-controller="Home" asp-action="MovieDetail">Daredevil</a>
                                </h4>
                                <span class="released">19 Apr 2015</span>
                            </div>
                            <!-- End of Movie Details -->

                            <!-- Start of Rating -->
                            <div class="stars">
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                </div>
                                <span>8.7 / 10</span>
                            </div>
                            <!-- End of Rating -->

                        </div>
                    </div>

                    <!-- Movie List Item -->
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="movie-box-1 mb30">

                            <!-- Start of Poster -->
                            <div class="poster">
                                <img src="~/images/posters/poster-6.jpg" alt="">
                            </div>
                            <!-- End of Poster -->

                            <!-- Start of Buttons -->
                            <div class="buttons">
                                <a href="https://www.youtube.com/watch?v=Q0CbN8sfihY" class="play-video">
                                    <i class="fa fa-play"></i>
                                </a>
                            </div>
                            <!-- End of Buttons -->

                            <!-- Start of Movie Details -->
                            <div class="movie-details">
                                <h4 class="movie-title">
                                    <a asp-controller="Home" asp-action="MovieDetail">Stranger Things</a>
                                </h4>
                                <span class="released">15 Jul 2016</span>
                            </div>
                            <!-- End of Movie Details -->

                            <!-- Start of Rating -->
                            <div class="stars">
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                </div>
                                <span>9 / 10</span>
                            </div>
                            <!-- End of Rating -->

                        </div>
                    </div>

                    <!-- Movie List Item -->
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="movie-box-1 mb30">

                            <!-- Start of Poster -->
                            <div class="poster">
                                <img src="~/images/posters/poster-8.jpg" alt="">
                            </div>
                            <!-- End of Poster -->

                            <!-- Start of Buttons -->
                            <div class="buttons">
                                <a href="https://www.youtube.com/watch?v=Q0CbN8sfihY" class="play-video">
                                    <i class="fa fa-play"></i>
                                </a>
                            </div>
                            <!-- End of Buttons -->

                            <!-- Start of Movie Details -->
                            <div class="movie-details">
                                <h4 class="movie-title">
                                    <a asp-controller="Home" asp-action="MovieDetail">The Flash</a>
                                </h4>
                                <span class="released">7 Oct 2014</span>
                            </div>
                            <!-- End of Movie Details -->

                            <!-- Start of Rating -->
                            <div class="stars">
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <span>8 / 10</span>
                            </div>
                            <!-- End of Rating -->

                        </div>
                    </div>

                </div>
                <!-- End of Movie List -->


            <!-- Start of Pagination -->
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <nav class="pagination">
                            <ul>
                                <li><a href="#" class="current-page">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#"><i class="ti-angle-right"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- End of Pagination -->

            </div>
        </main>
    <!-- =============== END OF MAIN =============== -->
    
    </div>
    <!-- =============== END OF WRAPPER =============== -->



    <!-- =============== START OF GENERAL SEARCH WRAPPER =============== -->
    <div class="general-search-wrapper">
        <form class="general-search" role="search" method="get" action="#">
            <input type="text" placeholder="Type and hit enter...">
            <span id="general-search-close" class="ti-close toggle-search"></span>
        </form>
    </div>
    <!-- =============== END OF GENERAL SEARCH WRAPPER =============== -->


    <!-- ===== Start of Back to Top Button ===== -->
    <div id="backtotop">
        <a href="#"></a>
    </div>
    <!-- ===== End of Back to Top Button ===== -->

</body>