@model Reviefy.Models.Movie

@{
    ViewBag.Title = Model.Title;
    Layout = "_Master";
}

<body>

    <!-- =============== START OF WRAPPER =============== -->
    <div class="wrapper">
    
        <!-- =============== START OF MOVIE DETAIL INTRO =============== -->
        <section class="movie-detail-intro overlay-gradient ptb100"
            style="background: url(https://upload.wikimedia.org/wikipedia/en/a/af/Wrath-of-man.jpg)">
        </section>
        <!-- =============== END OF MOVIE DETAIL INTRO =============== -->
    

        <!-- =============== START OF MOVIE DETAIL INTRO 2 =============== -->
        <section class="movie-detail-intro2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <div class="movie-poster movie-poster-fix">
                            <img src="@Model?.PosterPath"
                                alt="">
                        </div>

                        <div class="movie-details">
                            <h3 class="title">@Model?.Title</h3>

                            <ul class="movie-subtext">
                                <li>@Model?.Duration min</li>
                                <li>@Model?.Genre</li>
                                <li>@Model?.ReleaseDate.ToString("d") (@Model?.Country)</li>
                            </ul>

                            <a href="@Model?.TrailerPath"
                                class="btn btn-main btn-effect">trailer</a>
                            <a href="#" class="btn btn-main btn-effect">watch later</a>
                            <a href="#" class="btn rate-movie"><i class="icon-heart"></i></a>

                            <div class="rating mt10">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <span>@Model?.Rating / 10</span>
                            </div>
                        </div>

                        <div class="clearfix"></div>

                    </div>
                </div>
            </div>
        </section>
        <!-- =============== End OF MOVIE DETAIL INTRO 2 =============== -->


        <!-- =============== START OF MOVIE DETAIL MAIN SECTION =============== -->
        <section class="movie-detail-main ptb100">
            <div class="container">

                <div class="row">
                    <!-- Start of Movie Main -->
                    <div class="col-lg-8 col-sm-12">
                        <div class="inner pr50">

                            <!-- Storyline -->
                            <div class="storyline">
                                <h3 class="title">Storyline</h3>

                                <p>@Model?.Storyline</p>
                            </div>

                            <!-- Media -->
                            <div class="movie-media mt50">
                                <h3 class="title"> Photos & Videos</h3>

                                <ul class="image-gallery isotope">
                                    <li class="element">
                                        <a href="~/images/news/news-1.jpg">
                                            <img src="~/images/news/news-1.jpg" class="img-responsive" alt="">
                                        </a>
                                    </li>

                                    <li class="element">
                                        <a href="~/images/news/news-2.png">
                                            <img src="~/images/news/news-2.png" class="img-responsive" alt="">
                                        </a>
                                    </li>

                                    <li class="element">
                                        <a href="~/images/other/home2-bg.jpg">
                                            <img src="~/images/other/home2-bg.jpg" class="img-responsive" alt="">
                                        </a>
                                    </li>

                                    <li class="element">
                                        <a href="~/images/news/bloglist-2.jpg">
                                            <img src="~/images/news/bloglist-2.jpg" class="img-responsive" alt="">
                                        </a>
                                    </li>

                                    <li class="element">
                                        <a href="~/images/news/bloglist-1.jpg">
                                            <img src="~/images/news/bloglist-1.jpg" class="img-responsive" alt="">
                                        </a>
                                    </li>

                                    <li class="element">
                                        <a href="~/images/news/bloglist-3.jpg">
                                            <img src="~/images/news/bloglist-3.jpg" class="img-responsive" alt="">
                                        </a>
                                    </li>

                                    <li class="element">
                                        <a href="~/images/news/bloglist-1.jpg">
                                            <img src="~/images/news/bloglist-1.jpg" class="img-responsive" alt="">
                                        </a>
                                    </li>

                                    <li class="element">
                                        <a href="~/images/other/landscape.jpg">
                                            <img src="~/images/other/landscape.jpg" class="img-responsive" alt="">
                                        </a>
                                    </li>

                                    <li class="element">
                                        <a href="~/images/other/home2-bg.jpg">
                                            <img src="~/images/other/home2-bg.jpg" class="img-responsive" alt="">
                                        </a>
                                    </li>
                                </ul>

                            </div>

                        </div>
                    </div>
                    <!-- End of Movie Main -->


                    <!-- Start of Sidebar -->
                    <div class="col-lg-4 col-sm-12">
                        <div class="sidebar">

                            <!-- Start of Details Widget -->
                            <aside class="widget widget-movie-details">
                                <h3 class="title">Details</h3>

                                <ul>
                                    <li><strong>Release date: </strong>@Model?.ReleaseDate.ToString("d")</li>
                                    <li><strong>Director: </strong>@Model?.Director</li>
                                    <li><strong>Budget: </strong>@Model?.Budget million USD</li>
                                    <li><strong>Country: </strong>@Model?.Country</li>
                                    <li><strong>Language: </strong>@Model?.Language</li>
                                    <li><strong>Production Co: </strong>@Model?.Company</li>
                                </ul>
                            </aside>
                            <!-- End of Details Widget -->

                        </div>
                    </div>
                    <!-- End of Sidebar -->
                </div>

            </div>
        </section>
        <!-- =============== END OF MOVIE DETAIL MAIN SECTION =============== -->


        <!-- =============== START OF RECOMMENDED MOVIES SECTION =============== -->
        <section class="recommended-movies bg-light ptb100">
            <div class="container">

                <!-- Start of Reviews -->
                <div class="comments">
                    <h3 class="title">Reviews (2)</h3>

                    <ul class="list-unstyled mt30">

                        <li class="media">
                            <div class="review-box">
                                <img class="img-circle" src="~/images/papanya.png" alt="">
                                <div class="review-box-fix">
                                    <h4>Vitaliy Tsal</h4>
                                    <div class="review-box-rating">
                                        <i class="fa fa-star"></i>
                                        <span>8/10</span>
                                    </div>

                                    <div class="review-box-date">
                                        <div class="bloglist-meta">
                                            <i class="fa fa-calendar"></i> 25/11/2021
                                        </div>
                                    </div>

                                    <hr>
                                    <p>This is definitely not your average Guy Ritchie film. It is not
                                        light-hearted, albeit there is some slick dialogues. It has no comic appeal,
                                        albeit there is a bit of dry humor. Think of shortened edition of Michel
                                        Mann's "Heat" rather than "Snatch" or "Lock, Stock And Two Smoking Barrels",
                                        and you'll got some understanding of what it's all about.</p>

                                    <p> Jason Statham is perfectly fitting for the role of mysterious H., a
                                        character with dark past and blurred present. Again, it's not Statham
                                        typical B-movie action performance, since here thriller for the most part
                                        prevails over action. It's not entirely original work: Ritchie's film based
                                        on French Le Convoyeur (2004), but it's more of re-imagning than a direct
                                        copy or a straitforward remake.</p>

                                    <p> Starts like action-comedy, but then getting more and more dark, as new
                                        elements of the story introduced. At some moments plot is a bit hard to
                                        follow due to non-linear structure, but the basic points are always intact.
                                        Some subplots seems lost by the third act, and its preventing film from
                                        being great. However, for the most part it's a very soild, if unusual,
                                        effort from Ritchie entetring to a more mature ground. In the end, it's a
                                        suspenseful heist movie involving betrayal, family tragedy and a huge, long,
                                        mercialess gunfight in the final act.</p>
                                    <hr>

                                    <div class="review-box-helpfulness">
                                        Review helpfulness:
                                        <a href="#" class="btn">
                                            <i class="fa fa-arrow-up"></i>
                                        </a>
                                        <span>14340</span>
                                        <a href="#" class="btn">
                                            <i class="fa fa-arrow-down"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>


                        <li class="media">
                            <div class="review-box">
                                <img class="img-circle" src="~/images/user.png" alt="">
                                <div class="review-box-fix">
                                    <h4>Anon Anon</h4>
                                    <div class="review-box-rating">
                                        <i class="fa fa-star"></i>
                                        <span>9/10</span>
                                    </div>

                                    <div class="review-box-date">
                                        <div class="bloglist-meta">
                                            <i class="fa fa-calendar"></i> 25/11/2021
                                        </div>
                                    </div>

                                    <hr>
                                    <p>I am surprised of some reviews that are saying about frustration from this movie.
                                        What did you expect from the Ritchie's film with Statham in 2021? Sophisticated
                                        drama with Oscar winning plot?</p>

                                    <p> In fact I got from "Wrath of Man" exactly what I expected - charismatic and not
                                        very
                                        complicated action movie of a good quality. The only surprising moment for me is
                                        a
                                        gloomy atmosphere of the whole story. But Jason 100% fits this dark drama.</p>
                                    <hr>

                                    <div class="review-box-helpfulness">
                                        Review helpfulness:
                                        <a href="#" class="btn">
                                            <i class="fa fa-arrow-up"></i>
                                        </a>
                                        <span>120</span>
                                        <a href="#" class="btn">
                                            <i class="fa fa-arrow-down"></i>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
                <!-- End of Reviews -->

                <hr class="op-5 mtb50">


                <!-- Start of Review Form -->
                <div class="comment-form">
                    <h3 class="mt-0 mb-1">Add Review</h3>
                    <h3></h3>

                    <form class="row mt30">
                        <div class="form-group col-md-6" style="padding-right: 35%;">
                            <label for="rating-select" class="subtitle">Rating</label>
                            <select name="rating-select" required>
                                <option value="0" selected>Choose rating</option>
                                <option value="1">1 -> Terrible</option>
                                <option value="2">2 -> Bad</option>
                                <option value="3">3 -> Bad</option>
                                <option value="4">4 -> OK</option>
                                <option value="5">5 -> OK</option>
                                <option value="6">6 -> Good</option>
                                <option value="7">7 -> Good</option>
                                <option value="8">8 -> Great</option>
                                <option value="9">9 -> Great</option>
                                <option value="10">10 -> Excellent</option>
                            </select>
                        </div>

                        <div class="form-group col-md-12 m-t-20">
                            <textarea class="form-control" rows="5" placeholder="Review"></textarea>
                        </div>

                        <div class="form-group col-md-12 m-t-20">
                            <button type="submit" class="btn btn-main btn-effect">Submit</button>
                        </div>
                    </form>
                </div>
                <!-- End of Review Form -->

            </div>
        </section>
        <!-- =============== END OF RECOMMENDED MOVIES SECTION =============== -->
    
    </div>
    <!-- =============== END OF WRAPPER =============== -->


    <!-- =============== START OF GENERAL SEARCH WRAPPER =============== -->
    <div class="general-search-wrapper">
        <form class="general-search" role="search" method="get" action="#">
            <input type="text" placeholder="Type and hit enter...">
            <span id="general-search-close" class="ti-close toggle-search"></span>
        </form>
    </div>
    <!-- =============== END OF GENERAL SEARCH WRAPPER =============== -->


    <!-- ===== Start of Back to Top Button ===== -->
    <div id="backtotop">
        <a href="#"></a>
    </div>
    <!-- ===== End of Back to Top Button ===== -->

</body>