@{
    ViewBag.Title = "Top rated movies";
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">

<head>
    @await Html.PartialAsync("MetatagsPartial")
    @await Html.PartialAsync("CssPartial")
</head>

<body>

<!-- =============== START OF WRAPPER =============== -->
<div class="wrapper">
    <main class="coming-soon" style="background-image: url(https://j.gifs.com/G65MKL.gif)">
        <div class="container">
                
            <h3 style="padding: 0 0; margin: 0 0;">COMING SOON</h3>
        </div>
    </main>


</div>
<!-- =============== END OF WRAPPER =============== -->

@await Html.PartialAsync("ScriptsPartial")

</body>

</html>