<!DOCTYPE html>

<html lang="en">

<head>
    @await Html.PartialAsync("MetatagsPartial")
    @await Html.PartialAsync("CssPartial")
</head>

<body>
<!-- =============== START OF WRAPPER =============== -->
<div class="wrapper">

<!-- =============== START OF HEADER NAVIGATION =============== -->
<header class="header">
    <div class="container-fluid">

        <!-- ====== Start of Navbar ====== -->
        <nav class="navbar navbar-expand-lg">

            <a class="navbar-brand" href='@Url.Action("Index", "Home")'>
                <img src="~/images/reviefy-gradient.svg" alt="Reviefy" width="150" class="logo">
            </a>

            @await Html.PartialAsync("HeaderPartial")
            
        </nav>
        <!-- ====== End of Navbar ====== -->

    </div>
</header>
<!-- =============== END OF HEADER NAVIGATION =============== -->

@RenderBody()

@await Html.PartialAsync("FooterPartial")

</div>
<!-- =============== END OF WRAPPER =============== -->


@await Html.PartialAsync("ScriptsPartial")
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>