 <!-- ====== Start of #main-nav ====== -->
            <div class="navbar-collapse" id="main-nav">

                <!-- ====== Start of Main Menu ====== -->
                <ul class="navbar-nav mx-auto" id="main-menu">
                    <!-- Menu Item -->
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                    </li>

                    <!-- Menu Item -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            Movies
                        </a>

                        <!-- Dropdown Menu -->
                        <ul class="dropdown-menu">
                            <!-- Menu Item -->
                            <li>
                                <a class="dropdown-item" asp-controller="Movie" asp-action="LatestMovies" asp-route-id="">Latest Movies</a>
                            </li>

                            <!-- Menu Item -->
                            <li>
                                <a class="dropdown-item" asp-controller="Movie" asp-action="TopRatedMovies">Top Rated Movies</a>
                            </li>
                        </ul>
                    </li>

                    <!-- Menu Item -->
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="News" asp-action="LatestNews" asp-route-id="">News</a>
                    </li>

                    <!-- Menu Item -->
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="AboutUs">About Us</a>
                    </li>

                    <!-- Menu Item -->
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="ContactUs">Contact Us</a>
                    </li>

                </ul>
                <!-- ====== End of Main Menu ====== -->


                <!-- ====== Start of Extra Nav ====== -->
                <ul class="navbar-nav extra-nav">
                    
                    <!-- Menu Item -->
                    <li class="nav-item m-auto">
                        <a asp-controller="Home" asp-action="Authorization" class="btn btn-main btn-effect login-btn">
                            <i class="icon-user"></i>login
                        </a>
                    </li>
                </ul>
                <!-- ====== End of Extra Nav ====== -->

            </div>
            <!-- ====== End of #main-nav ====== -->