<meta charset="UTF-8">

<!-- ===== Meta Tags - Description for Search Engine purposes ===== -->
<meta name="description" content="Reviefy - Reviews of Films & Series">
<meta name="keywords" content="movies, series, reviefy, review, critique">
<meta name="author" content="Focus">
<title>@ViewBag.Title - Reviews of Films & Series</title>

<!-- ===== Favicon & Different size apple touch icons ===== -->
<link rel="shortcut icon" href="~/images/favicon.png" type="image/x-icon">

<!-- ===== Google Fonts ===== -->
<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">